
.loginpg{
height: 100%;
display: flex;
justify-content: center;
align-items: center;

}

.box1{
    display: flex;
    min-height: 450px;
    max-width: 400px;
    border-radius: 12px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.07);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

}

@media screen and (max-width:464px){
    .box1{
        max-width: 350px;
    }
    
}