 @import url('https://fonts.googleapis.com/css2?family=Outfit&family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
}

.main-body{
  width: 100%;
  height: 100vh;
  color: rgb(216, 216, 216);
  font-family: 'Outfit', sans-serif;
  background-image: linear-gradient(rgba(50, 70, 91),rgb(15, 27, 39));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}